*.so.*
credentials
__pycache__
.vscode

build
*.egg-info
.*cache
*.tif
*.vrt
.data

# ignore NCI config directory
sar_pipeline/nci/configs

# ignore files used to generate test data
tests/sar_pipeline/data/copernicus_30m_world/generate_test_data.ipynb
tests/sar_pipeline/data/**/*.json

# include test data files
!tests/sar_pipeline/data/**/*.tif
!tests/sar_pipeline/data/**/*.vrt

# ignore secret files
*.secret

# pixi environments
.pixi
*.egg-info

# ignore the burst_db project
burst_db

# ignore coverage files
.coverage
coverage*
